@model IEnumerable<Employee.Models.Employees>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="AddorEdit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th><i class="fa fa-plus-square"></i> Employee</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                <div class="action-user">
                    <a asp-action="AddorEdit" asp-route-id="@item.EmployeeId">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" onclick="return confirm('Delete?')">
                        <i class="fa fa-trash"></i>
                    </a>

                </div>
            </td>
        </tr>
}
    </tbody>
</table>
